<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome!</h1>

<div sec:authorize="isAuthenticated()">
    <p>Greetings: <span sec:authentication="name"></span></p>
</div>

<div sec:authorize="isAnonymous()">
    <p>Greetings anonymous!</p>
    <p>To use this service please <a th:href="@{/login}">login!</a></p>
</div>
<div class="float-right mt-2">
    <a class="btn btn-primary btn-sm" href="/message/?list.html" th:href="@{/message}" th:text="#{view.messages}">Messages</a>
<p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>
</body>
</html>